<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<!--    <h1>Testing Template</h1>-->
<!--    <p>{{name}} is from {{place}}.</p>-->
<h1>Welcome to text analyzer. Enter the text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1141px; height: 99px;'></textarea><br/>
    <input type='checkbox' name='removepunc'>Remove Punctuation</input><br/>
    <input type='checkbox' name='fullcaps'>UPPERCASE</input><br/>
    <input type="checkbox" name="newlineremover"> New Line Remover<br/>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br/>
    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>s